* {
  padding: 0;
  margin: 0;
  background: url(./image/pattern.jpg);
  background-attachment: fixed;
  background-position: 50% 50%; /* or: center center */
  background-size: cover; /* CSS3 */
}

.container {
  padding: 100px;
  margin: 200px auto;
  width: 500px;
  height: 300px;
}

/* ! Glass Card */

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}
